<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
    <title>Manchester Music Map</title>
    <meta name="description" content="Manchester Music Map">
    <meta content="charset=utf-8">
    <meta name="author" content="Howie Weiner, builtbyhowie.co.uk, John Ossoway, ragingtrifle.com for UMIP">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/leaflet.css" />
    <link rel="stylesheet" href="/static/css/markercluster/MarkerCluster.css">
    <link rel="stylesheet" href="/static/css/markercluster/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/static/css/leaflet-locate/L.Control.Locate.css" />
    <link rel="stylesheet" href="/static/css/leaflet-providers/gh-fork-ribbon.css" />
    <link rel="stylesheet" href="/static/css/mmmusic.css" />
    <link rel="stylesheet" href="/static/css/mmmusic-responsive.css" />

    <!--[if IE]>
        <link rel="stylesheet" href="/static/css/mmmusic.ie.css" />
    <![endif]-->

    <!--[if lte IE 8]>
        {% compress css %}
        <link rel="stylesheet" href="/static/css/leaflet.ie.css" />
        <link rel="stylesheet" href="/static/css/markercluster/MarkerCluster.Default.ie.css">
        <link rel="stylesheet" href="/static/css/leaflet-locate/L.Control.Locate.ie.css" />
        <link rel="stylesheet" href="/static/css/leaflet-providers/gh-fork-ribbon.ie.css" />
        {% endcompress %}
    <![endif]-->

    <!-- Modernizr -->
    <script src="/static/js/lib/modernizr.js"></script>

    <script type="text/javascript" src="//use.typekit.net/eqs8lpu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/js/lib/require.js" data-main="/static/js/main.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
</head>
<body>
    <nav id="nav" class="nav">
    <!-- rendered by backbone.js -->
    </nav>

    <div class="header" id="header">
        <!-- rendered by backbone.js -->
    </div>

    <div id="map-container" class="map-container">
    <!-- rendered by backbone.js -->
    </div>
</body>
</html>
