/* Manchester Music Map CSS

    Green: #8ec414
    Orange: #f59500

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-family: "freight-sans-pro-n4","freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #555;
}

/* styles integrated from howie.css */
/* Some were replicated so are included commented out for reference

body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

*/

.leaflet-container {
  height: 100%;
}

.map-container {
  height: 100%;
}

.mmmcluster {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24px;
}

.brand:hover {
  cursor: pointer;
}

.welcome, .resultsPanel {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
  padding-bottom: 100px;
}

/* End styles from howie.css */


p {
    line-height: 1.6;
    margin: 10px 0;
}

p:first-child {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #90c80f;
}

a:hover, a:active {
    color: #f59500;
    text-decoration: none;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.offscreen {
  display: none;
}

/* Header */

.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 20px 20px 20px;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    background: #fafafa url('images/header.jpg') repeat-x top left;
}

/* logo brand etc */

.brand {
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #8fc613;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.brand i {
    font-size: 20px;
}

.brand span {
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #585858;
}

/* Header menu stuff */

#menu-button {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    margin-right: 20px;
    color: #585858;
}

#menu-button:hover, #menu-button:active, .open #menu-button {
    color: #8fc613;
    cursor: pointer;
}

.sitelinks {
  float: right;
  margin-right: 22px;
  margin-top: 5px;
}

.sitelinks .menu-title {
  text-transform: uppercase;
  font-weight: 600;
}

.sitelinks .menu-title i {
  margin-left: 5px;
}

.sitelinks li {
    list-style-type: none;
    border-bottom: dotted 1px #ccc;
    padding: 2px 0;
    font-size: 12px;
    text-align: right;

}

.sitelinks a, .twitter-icon a {
    color: #585858;
}

.sitelinks a:hover, .twitter-icon a:hover {
    color: #8fc613;
}

.sitelinks li a i {
    margin-left: 5px;
}

.twitter-icon {
    float: right;
    margin-top: 5px;
}



/* Header active menu button */

/*#nav-handler:checked ~ #menu-button {
    color: #08c;
    border: 1px solid #08c;
}
*/

/* Slide out navigation */

/* Hide nav-handler checkbox */

/*#nav-handler {
    display: none;
}
*/
.nav {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: -400px;
    z-index: 0;
    width: 40%;
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0);
    /* height: 100%; */
    padding: 0;
    color: #fff;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

/*#nav-handler ~ .nav {*/
.nav.closed {
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0);
    z-index: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

/*#nav-handler:checked ~ .nav {*/
.nav.open {
    z-index: 8;
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.8);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -webkit-transform: translate3d(0, 0, 0);
    /*only along x axis*/
    -webkit-transform:translateX(400px);
    -moz-transform: translate3d(0, 0, 0);
    /*only along x axis*/
    -moz-transform:translateX(400px);
    transform: translate3d(0, 0, 0);
    /*only along x axis*/
    transform:translateX(400px);
}


/* Search item styles */

.nav {
}

.nav .search-results {
}

.nav .box {
    padding: 10px;
    margin: 20px 10px;
    background: rgb(80, 80, 80);
    background: rgba(80, 80, 80, 0.8);
    clear: both;
}

.nav .box h3 {
    line-height: 1.5;
    font-size: 18px;
}

.nav .box ol, .nav .box ul {
  margin: 10px 20px;
}

.nav .box ol li, .nav .box ul li {
  margin-bottom: 10px;
}

.nav .search-results > p a, .nav .welcome > p a {
    white-space: nowrap;
}

.nav .welcome {
}

.nav .welcome .intro h3 {
    background: url('images/map-marker-sketched.png') no-repeat top left;
    padding: 4px 0 4px 63px;
    line-height: 1;
    font-size: 24px;
}

.nav .welcome .intro h3 span {
    display: block;
}

.nav .arrow-one {
    float:right;
    padding: 10px 20px;
    max-width: 40%;
}

.nav .arrow-two {
    float:right;
    padding: 10px 20px;
    max-width: 30%;
}

.nav .welcome .smiley {
    background: url('images/smiley.png') no-repeat top right;
    padding-right: 100px;
    margin-right: 100px;
}

.accordion,
.accordion ol,
.accordion li,
.accordion a,
.accordion span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.accordion li {
    padding: 0 10px;
    margin-bottom: 10px;
}

.accordion li:last-child {
  padding-bottom: 100px;
}

.accordion li > a {
    display: block;
    color: #545454;
    font-weight: 600;
    text-decoration: none;
    background: #e5e5e5;
    padding: 15px;
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
}

.accordion li.active > a {
    background: #8fc613;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.accordion li > a:hover, .accordion li > a:active {
    background: #8fc613;
    color: #fff;
}

.accordion li > a .chevron {
    font-size: 36px;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
    padding-bottom: 30px;
}

.accordion li > a i {
    margin-right: 5px;
}

.accordion li > a img {
    max-width: 25%;
    float: right;
    margin-left: 5px;
    border: solid 1px #fff;
    padding: 1px;
}

.accordion li.active > a img {
    display: none;
  }

.accordion li.active > a .chevron {
    padding-bottom: 10px;
  }

/* For modern browsers
.accordion li > a:before,
.accordion li > a:after {
    content:"";
    display:table;
}
.accordion li > a:after {
    clear:both;
}
*/


/* Clearfix solution to stop jump */
.accordion li > a:after {
  content:"";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; /*should be {font-size: 0;} the default
                     font-size will create a 16px gap with
                     0 line-height, or 19px  gap with the
                     default line-height*/

}

.accordion li .result-content {
    display: none;
}

.accordion li.active .result-content {
    /* display: block; */
    border-bottom: 5px solid #8ec414;
}

.result-content {
    padding: 15px;
    color: #797979;
    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
}

.result-content p {
    line-height: 1.2;
}

.result-content .share {
    border-top: dotted 1px #ccc;
    padding-top: 10px;
}

h4.share-title {
    display: block;
    margin: 0 0 10px 0;
}

.result-content .share .share-title, .result-content .share .share-title i {
    font-size: 14px;
}

.result-content .share .share-title i {
    margin-left: 5px;
}

.result-content .share a i {
    color: #585858;
}

.result-content .share a:hover i {
    color: #8ec414;
}

.result-content .share i {
    font-size: 24px;
    margin-right: 5px;
}

.accordion a.mobile-link {
  background: #f6f6f6;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
}

.accordion a.mobile-link i {
  margin-right: 5px;
}

/* -- Typeahead */

.search-container {
    display: inline-block;
    vertical-align: top;
}

#search {
    margin-bottom: 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 250px !important;
  height: 30px !important;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  z-index: 1001;
  width: 250px;
  margin-top: 2px;
  padding: 2px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #8fc613;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.search-result-type {
  float: right;
  font-style: italic;
  font-size: 12px;
}

.search-result-value {
  font-weight: bold;
  font-size: 14px;
}

.search-result-value i {
    margin-right: 10px;
}

.search-container #all-artists-link, .search-container #all-venues-link {
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 600;
}


/* Bootstrap CSS for dropdowns */

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 22px;
  z-index: 1100;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #8ec414;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #8ec414;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #999999;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

/* Standard content styles */

.content {
  padding: 20px;
}

.content h2 {
  font-size: 30px;
  line-height: 30px;
}

.content h3 {
  font-size: 24px;
  line-height: 24px;
}

.content h4 {
  font-size: 18px;
  line-height: 18px;
}

.content blockquote {
  margin: 20px 10px;
}

.content blockquote p {
  font-style: italic;
  font-size: 16px;
}

.content ul, .content ol {
padding: 0;
margin: 0 0 10px 25px;
}

.content ul.list-all {
  margin: 10px 0;
}

.content ul.list-all li {
  list-style-type: none;
  padding: 5px 10px;
  margin-bottom: 5px;
    background: rgb(80, 80, 80);
    background: rgba(80, 80, 80, 0.8);
}



/* Form styles from Bootstrap */


/*

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 20px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
}

input, textarea, .uneditable-input {
margin-left: 0;
}

button, input, select, textarea {
margin: 0;
font-size: 100%;
vertical-align: middle;
}
*/


/* Custom Form styles */




.suggest h3 {
  margin-bottom: 20px;
  border-bottom: dotted 1px #ccc;
  line-height: 18px;
  padding-bottom: 10px;
}

.suggest h3 span {
  font-size: 48px;
  font-weight: 800;
  display: block;
  padding-bottom: 20px;
}

.suggest fieldset {
  border:none;
  padding: 10px 0 20px 0;
  margin-bottom: 20px;
}



.suggest label {
  display: block;
  font-weight: 700;
}

.suggest .help-block {
  display: block;
  color: #ececec;
  font-style: italic;
  font-size: 14px;
}

.required {
  color: #cc4242;
}

.required.validation, .success-message {
  padding: 10px 15px;
  font-size: 16px !important;
  line-height: 18px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.required.validation {
  background: #f6f6f6;
  border: solid 1px #ccc;
}

.success-message {
  color: #468847;
  background-color: #dff0d8;
  border: solid 1px #d6e9c6;
}

.suggest .error {
  color: #ee6666;
}

.suggest .error textarea, .suggest .error input[type="text"], .suggest .error input[type="email"] {
  border: solid 2px #ee6666;
}




.suggest textarea, .suggest input[type="text"], .suggest input[type="email"] {
background-color: #ffffff;
border: 1px solid #8ec414;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
width: 95%;
}



.suggest textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 10px;
}



input[type="text"], input[type="email"] {
display: inline-block;
padding: 5px;
margin-bottom: 15px;
font-size: 14px;
line-height: 20px;
color: #555555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
}

.suggest button {
  color: #fff;
  background-color: #8ec414;
  padding: 5px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 800;
  margin-top: 10px;
}

.suggest button:hover, .suggest button:active {
  background-color: #f59500;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.suggest button span, .suggest button i {
  vertical-align: middle;
}

.suggest button i {
  font-size: 24px;
  margin-left: 10px;
}


/* Leaflet popup style overrides */
/* Overriding css in Leaflet rather than messing with core css */

.leaflet-popup-content-wrapper {
padding: 1px;
text-align: left;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.leaflet-container {
font: 12px/1.5 "freight-sans-pro-n4","freight-sans-pro", sans-serif;
}


.leaflet-popup-content a {
  color: #90c80f;
  font-weight: 600;
}

.leaflet-popup-content a:hover {
  color: #f59500;
}

.leaflet-popup-content a[data-location] {
  background: url('images/film-strip.png') no-repeat 0px 0px;
  padding-left: 26px;
}

.leaflet-popup-content a[data-location]:hover {
  background: url('images/film-strip-hover.png') no-repeat 0px 0px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(200,200,200,0.4);
}

/* 404 page styles */

.whatthe404 .header {
  background: none;
}

body.whatthe404 {
    background: #fafafa url('images/header.jpg');
    overflow: visible;
}

.whatthe404 {
  background: #fafafa url('images/header.jpg');
}

.whatthe404 .header, .whatthe404 .content {
  width: 80%;
  margin: 20px auto;
}

.whatthe404 .video-container, .video-container.intro-video {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
}

.whatthe404 .video-container iframe,
.whatthe404 .video-container object,
.whatthe404 .video-container embed,
.video-container.intro-video iframe,
.video-container.intro-video object,
.video-container.intro-video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: solid 1px #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;
}

.whatthe404 h4 {
  margin: 10px 0;
}

/* Sending msg */
.sending-msg {
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  color: #8ec414;
}
