/* Manchester Music Map CSS */

/* some media queries */

@-ms-viewport {
  width: device-width;
}

/* If your this small, we're assuming we're talking portrait mobile views */

@media (max-width: 320px) {

	.brand  {
		font-size: 14px !important;
	}

	.brand i  {
		font-size: 12px !important;
	}

	.brand {
		display: inline-block;
	}


}

@media (max-width: 460px) {

	.search-container .list-all-links {
		display: none;
	}

	.search-container #all-artists-link {
		margin-left: 0;
	}

	.sitelinks .menu-title span {
		display: none;
	}

	.sitelinks a
	{
		padding: 0 20px;
		display: block;
	}

}


@media (max-width: 540px) {

	.accordion li > a img {
	max-width: 30%;
	}

	.tt-query, .tt-hint {
		width: 170px !important;
	}


}

@media (min-width: 560px) {

	/* Responsive video */

	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border-bottom: solid 1px #ccc;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}

	.video-container.intro-video iframe,
	.video-container.intro-video object,
	.video-container.intro-video embed {
		border-bottom: 0;
	}
}


@media (min-width: 321px) and (max-width: 540px) {

	.brand  {
		font-size: 19px !important;
	}

	.brand i  {
		font-size: 17px !important;
	}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

	.nav {
		margin-bottom: -100px;
		width: 80%;
	}

	.leaflet-bottom {
		margin-bottom: -100px;
	}

}



/* If your this small, we're assuming we're talking tablets and mobiles */

@media (max-width: 768px) {

	.nav {
	 	margin-bottom: -100px;
		width: 80%;
	}

	.leaflet-bottom {
		margin-bottom: -100px;
	}

	.nav .welcome .box p {
		font-size: 16px;
		line-height: 1.5;
	}

	.nav .welcome .intro h3 {
	padding: 4px 0 4px 63px;
	line-height: 25px;
	font-size: 20px;
	}

	.accordion li > a img {
	max-width: 40%;
	float: right;
	margin-left: 5px;
	border: solid 1px #fff;
	padding: 1px;
	}

	.brand i {
	font-size: 19px;
	}

	.nav .arrow-one {
    float:right;
    padding: 10px 20px;
    max-width: 30%;
	}

	.nav .arrow-two {
    float:right;
    padding: 10px 20px;
    max-width: 20%;
	}

}



@media (max-width: 979px) {

	.jspVerticalBar
	{
    width: 5px;
	}

}

@media (min-width: 979px) {
	.nav {
		width: 33%;
	}
}
