<a href="#" class="result-title">
    <img src="http://img.youtube.com/vi/{{ youtube_uid }}/1.jpg"/>

    <span class="chevron">
        <i class="icon-chevron-sign-down"></i>
    </span>
    <span class="title">{{ title }}</span>
</a>

<div class="result-content">
    <div class="video-container" data-uid="{{ youtube_uid }}"><div></div></div>
    <p>{{ description }}</p>
    <div id="search-filters">
        <p>Venue: <a href="/search/{{ location }}/">{{ location }}</a></p>
        <p>Artists: {{#each artists}}<a href="/search/{{ name }}/">{{ name }}</a> {{/each}}</p>
    </div>
    <div class="share">
        <h4 class="share-title">Share this video <i class="icon-share-alt"></i></h4>
        <a href="https://twitter.com/intent/tweet?url={{ short_url }}&hashtags=mcrmusicmap&text=Check+this+out" target="_blank"><i class="icon-twitter-sign"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ short_url }}" target="_blank"><i class="icon-facebook-sign"></i></a>
        <a href="https://plus.google.com/share?url={{ short_url }}" target="_blank"><i class="icon-google-plus-sign"></i></a>
        <a href="mailto:?subject=I wanted to share a video with you&amp;body=Check this video out {{ short_url }}" title="Email this to a friend" target="_blank"><i class="icon-envelope-alt"></i></a>
    </div>
</div>
