<div class="twitter-icon">
        <a href="https://twitter.com/intent/user?screen_name=mcrmusicmap"><i class="icon-twitter"></i></a>
</div>

<div class="dropdown sitelinks">
  <a data-toggle="dropdown" href="#"><span class="menu-title"><span>Menu </span><i class="icon-ellipsis-vertical"></i></span></a>
  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
    <li><a href="/contact/" id="nav-contact"><span>Contact us </span><i class="icon-comment"></i></a></li>
    <li><a href="/about/" id="nav-about"><span>About this website </span><i class="icon-info-sign"></i></a></li>
    <li><a href="/suggest/" id="nav-suggest"><span>Suggest an artist or venue </span><i class="icon-map-marker"></i></a></li>
    <li><a href="https://twitter.com/intent/user?screen_name=mcrmusicmap"><span>Follow Manchester Music Map on Twitter </span><i class="icon-twitter"></i></a></li>
    <li><a href="/artists/" id="nav-all-artists">View all artists <i class="icon-chevron-sign-right"></i> </a></li>
    <li><a href="/venues/" id="nav-all-venues">View all venues <i class="icon-chevron-sign-right"></i> </a></li>
  </ul>
</div>

<div class="brand"><i class="icon-map-marker"></i> Manchester <span>Music Map</span></div>

<a id="menu-button"><i class="icon-list"></i></a>

<section class="search-container">
    <input type="text" id="search" placeholder="Search for an Artist or Venue"/>
    <span class="list-all-links">
    <a href="/artists/" id="all-artists-link"><i class="icon-chevron-sign-right"></i> All Artists</a> |
    <a href="/venues/" id="all-venues-link"><i class="icon-chevron-sign-right"></i> All Venues</a>
    </span>
</section>
