<div class="box intro">
    <h3>About the <span>Manchester Music Map</span></h3>
    <p>Follow your own unique path around the city learning about the music, lives, and legacy of Manchester's musical legends; share your musical journey with friends and family through social media; and tell us about your experience to help us improve and expand the map.</p>
</div>

<div class="box">
    <img class="arrow-two" src="/static/css/images/arrow-two.png"/>
    <p><strong>Try the search box at the top of the page</strong>.<br/>
    Just type in a Manchester act or venue to see if your favourite has been mapped.</p>
</div>

<div class="box">
    <img class="arrow-one" src="/static/css/images/arrow-one.png"/>
    <p><strong>Or use the map markers instead</strong><br/>
    Click on the markers to explore our interactive map of Manchester's music history.</p>
</div>

<div class="box">
    <p>
    <strong>Can you help?</strong>
    Although weve got lots of plans for the future, we really want you guys to get involved. There are several things you can do to help us out:</p>

    <ol>
        <li>We are always looking to add more places, videos and events to the map so please <a href="http://manchestermusicmap.co.uk/suggest/" id="about-suggest">use our submission form</a> to send us YouTube videos you find. At the moment we are concentrating on Manchester based acts at Manchester venues between 1976 and 1996. However, if you think we really have to see it, send it! If you have any questions about the submissions process then please <a href="http://manchestermusicmap.co.uk/contact/" class="about-contact">email</a>, <a href="http://manchestermusicmap.co.uk/contact/" class="about-contact">Facebook</a> or <a href="https://twitter.com/intent/user?screen_name=mcrmusicmap">Tweet</a> us.</li>
        <li>As our videos are streamed from YouTube so occasionally they might be taken off-line. You can help by letting us know if this happens. If you find a video missing just <a href="http://manchestermusicmap.co.uk/contact/" class="about-contact">email</a>, <a href="http://manchestermusicmap.co.uk/contact/" class="about-contact">Facebook</a> or <a href="https://twitter.com/intent/user?screen_name=mcrmusicmap">Tweet</a> us and we'll sort it from there!</li>
        <li>We love to hear your stories! If you were at one of the gigs, knew the bands, raved at the Hacienda every Friday or were one of the lucky few to see The Sex Pistols at &lquo;that&rquo; gig, let us know and we might use your story for our further developments.</li>
        <li>We love feedback! <a href="http://manchestermusicmap.co.uk/contact/" class="about-contact">Email</a>, <a href="http://manchestermusicmap.co.uk/contact/" class="about-contact">Facebook</a> or <a href="https://twitter.com/intent/user?screen_name=mcrmusicmap">Tweet</a> us with any questions and comments about the map, the videos, how it works, what you like, what you hate... We want to hear!</li>
    </ol>

    <p>The Manchester Music Map was made possible by the support of University of Manchester's UMI3 Social Enterprise Competition. Developed by <a href="http://builtbyhowie.co.uk/">BuiltByHowie</a> and <a href="http://www.ragingtrifle.com/">RAGINGtrifle</a>. Thanks to <a href="https://twitter.com/stevieflow">Steven Flower</a> and Abigail Gilmore.</p>
</div>
