<div class="content">

        <h2>Contact Us</h2>
        <p>Want to get in touch with Manchester Music Map? There's a couple of ways you can do it:</p>
        <ul>
                <li><a href="https://twitter.com/intent/user?screen_name=mcrmusicmap" id="contact-panel-twitter"><i class="icon-twitter"></i> Twitter</a> - you can follow us on Twitter to to find out about updates to the site, and to contact us.</li>
                <li><a href="mailto:hello@manchestermusicmap.co.uk" target="_blank"><i class="icon-envelope-alt"></i> Email</a> - you can email us</li>
        </ul>
</div>
