<div class="box intro">
    <h3>Welcome to the <span>Manchester Music Map</span></h3>
    <p>From the legendary Sex Pistols gig that kicked off Joy Division and Factory Records to Morrissey and The Smiths to the birth of rave culture and the &lquo;Madchester&rquo; scene, to the indie swagger of the Stone Roses and Oasis: it all happened here, in the pubs, clubs, streets and houses of Manchester. Many of these places have changed or been redeveloped, and the characters involved have moved on to international fame but the music remains a huge part of this city, its people and the world.</p>
</div>

<div class="box">
    <p>This is Manchester, we do things differently here... Enjoy!</p>
</div>
