{{#if showSearchResults}}
<div class="box">
    <h3>Your search for <a href="/search/{{ query }}/">{{ query }}</a> returned {{ hits }} results:</h3>
</div>
{{/if}}

<ol class="accordion">
<!-- results will be added here by backbone.js -->
</ol>
