<div class="box">
    <h2>Send us your suggestions</h2>
    <p>Know a live performance or venue that you think should be on the map? Fill in the form below and tell us all about it!</p>
    <p><span class="required">*</span> indicates required field.</p>

    <p class="required validation" id="success-msg">

        <span>Thank you for submitting your suggestion.</span>
    </p>

    <p class="required validation" id="error-msg">
        <i class="icon-warning-sign"></i>

        <span>There are errors with your form submission. Please see below for more details.</span>
    </p>

    <p class="required validation" id="sys-error-msg">
        <i class="icon-warning-sign"></i>

        <span>Apologies, there was a problem sending your suggestion.</span>
    </p>
</div>

<form method="post" class="suggest" id="suggest-form">

  <div class="box">
        <fieldset>
            <h3><span>1. </span>First tell us about your suggestion:</h3>
            <div>
                <label for="artist">Artist(s) <span class="required">*</span></label>
                <span class="help-block"></span>
                <input id="artist" type="text" placeholder="Who is the artist?" name="artists" />
            </div>

            <div>
                <label for="location">Venue <span class="required">*</span></label>
                <span class="help-block"></span>
                <input id="location" type="text" placeholder="Where is the venue?" name="venue"/>
            </div>

            <div>
                <label for="video">YouTube Video<span class="required">*</span></label>
                <span class="help-block"></span>
                <input id="video" type="text" placeholder="YouTube Link to the video" name="video"/>
            </div>

            <div>
                <label for="comments">Comments</label>
                <span class="help-block"></span>
                <textarea id="comments" rows="10" placeholder="Tell us something about your suggestion." name="comments"></textarea>
            </div>
        </fieldset>

        <fieldset>
            <h3><span>2. </span>Now tell us a bit about yourself:</h3>

            <div>
                <label for="yourname">Your name <span class="required">*</span></label>
                <span class="help-block"></span>
                <input id="yourname" type="text" placeholder="Enter your name here." name="submitter_name"/>
            </div>

            <div>
                <label for="youremail">Your email address <span class="required">*</span></label>
                <span class="help-block"></span>
                <input id="youremail" type="email" placeholder="Enter your email address here." name="submitter_email"/>
            </div>

            <button type="submit" class="btn"><span>Send suggestion </span><i class="icon-circle-arrow-right"></i></button>
        </fieldset>

  </div>

</form>
